.button-default {
  font-family: inherit;
  font-weight: 500;
  background-color: var(--color-bgc-3);
  padding: 1em 2em;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  margin-left: auto;
  transition: all 0.5s;
  &:hover,
  &:active {
    background-color: var(--accent-color);
    color: var(--color-bgc-3);
  }
}
