.doctors-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(100%, 50rem);
  margin: 0 auto;
  background-color: var(--main-color);
  padding: 3rem;
  border-radius: 5px;
}

.send-status {
  color: var(--color-bgc-3);
  font-size: 2rem;
  margin-top: 0.5em;
}
